/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    margin-bottom: 100px;
}

/* Navigation Bar */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: transparent;
}

.cmw {
    max-width: 1400px;
    margin: 0 auto; /* Center the div */
    display: flex; /* Use flexbox for alignment */
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    width: 100%;
}

/* Styles for the nav toggle (hamburger icon) */
.nav-toggle {
    display: none; /* Hide toggle by default */
    cursor: pointer; /* Pointer cursor on hover */
}

.header.scrolled {
    background-color: rgb(255, 255, 255);
    transition: background-color 0.5s ease-in;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    transition: color 0.3s ease;
}

.header.scrolled .logo {
    color: #000;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center; /* Center items vertically */
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease;
}

.header.scrolled .nav-links a {
    color: #000;
}

.nav-buttons {
    display: flex;
    align-items: center;
}

.nav-buttons .search-icon {
    font-size: 20px;
    color: #fff;
    margin-right: 20px;
    transition: color 0.3s ease;
}

.nav-buttons .search-icon:hover {
    color: #000CB7;
}

.header.scrolled .search-icon {
    color: #000;
}

button, .btn, .btn1, .btn2:hover {
    border: 2px solid;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 100px;
    background-color: #000CB7;
    border-color: #000CB7;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn2, button:hover, .btn:hover, .btn1:hover {
    border: 2px solid;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 100px;
    background-color: transparent;
    border-color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.header.scrolled .nav-buttons .btn1, .header.scrolled .nav-buttons .btn2:hover {
    background-color: #000CB7;
    border-color: #000CB7;
    color: #fff;
}

.header.scrolled .nav-buttons .btn2, .header.scrolled .nav-buttons .btn1:hover {
    background-color: transparent;
    border-color: #000;
    color: #000;
}

.btn1 {margin-right: 15px;}

.nav-links li:hover .dropdown {
    display: block; /* Ensure the dropdown appears on hover */
}

.dropdown-menu {
    display: none; /* Hide dropdown by default */
    position: absolute; /* Position dropdown correctly */
    z-index: 1000; /* Bring dropdown in front */
}

/* Hero Section */
.hero-container, .main-container, .login-container {
    min-height: 100vh;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000;
}

.hero-content h1 {
    font-size: 56px;
    margin-bottom: 20px;
    padding: 0px 200px;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
    padding: 0px 150px;
}

/* Optional: If you want to blink a cursor */
.typewriter::after {
    content: '|';
    display: inline-block;
    animation: blink 0.75s step-start infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 40px;
    padding: 0px 300px;
}

/* Footer */
.footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
    color: #fff;
}

/* 404 Page Styles */
.page-not-found h1 {
    font-size: 64px;
    margin-bottom: 20px;
    padding: 0px 150px;
    color: red;
}

.search-container {
    margin: 20px 0px;
    padding: 20px;
    background-color: #fff;
    border-radius: 100px;
    justify-content: space-between;
}

.search-container input[type="text"] {
    padding: 10px;
    border: none;
}

.search-container button {
    padding: 10px 15px;
    border: none;
    color: white;
    cursor: pointer;
}

.search-container button:hover, .page-not-found .btn:hover {
    background-color: #000CB7;
}

/* Remove border for the search bar on focus */
.search-input:focus {
    border: none; /* Remove the border */
    outline: none; /* Optional: Remove outline */
}

h1, h2, h3, h4, h5, h6, p, a, .btn , button, form, .search-container, .main-container {z-index: 1;}

.login-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#loginForm {
    width: 350px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #fff;
}

.input-group input {
    width: 100%;
    padding: 20px 15px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.password-group {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 55%;
    right: 4%;
    cursor: pointer;
}

.fas.fa-eye, .fas.fa-eye-slash {
    font-size: 18px;
    color: #555;
}

.login-btn {
    width: 100%;
    margin-top: 15px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
}

#error-message {
    color: red;
    margin-top: 10px;
    display: none;
}

.register-link {
    margin-top: 15px;
}

.remember-forgot a, .register-link a {
    text-decoration: none;
    color: #fff;
}

.remember-forgot a:hover, .register-link a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 50px;
}